<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javademo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.eventdispatch.EventConflict1Activity"></activity>
        <activity android:name=".view.CustomViewActivity">

        </activity>
        <activity
            android:name=".view.ServiceTestActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".view.AutoSizeTestActivity" /> <!-- 屏幕适配 -->
        <!-- 下方两个dp值 dp = px / (DPI / 160) 通常就是设计图宽高像素值 /2 或 /3 -->
        <!-- github文档: https://github.com/JessYanCoding/AndroidAutoSize/blob/master/README-zh.md -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="780" />

        <activity android:name=".view.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ShareDataActivity" />
        <activity android:name=".view.RxJavaExampleActivity" />
        <activity android:name=".base.BaseDataActivity" />
        <activity android:name=".view.NewsActivity"></activity>
        <activity android:name=".view.eventdispatch.EventConflict3Activity" />
        <activity android:name=".view.eventdispatch.EventConflict2Activity" />
        <activity android:name=".view.eventdispatch.EventConflict4Activity" >

        </activity>

        <service android:name=".service.ExampleService" />
    </application>

</manifest>